.blue {
  background-color:blue;
  height:200px;
}
.red {
  background-color:red;
  height:200px;
}
.brown {
  background-color:brown;
  height:200px;
}
.yellow {
  background-color:yellow;
  height:200px;
}
